.pokemon-card {
    width: 200px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .pokemon-card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .pokemon-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* PokemonCard.css */

.pokemon-type-button {
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  color: white;  /* Assurez-vous que la couleur du texte est définie */
}
